.link-color {
  color: #00d1b2; /* Replace with the actual color code */
}

.post-header {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.back-button {
  margin-right: 15px;
  text-decoration: none;
  color: var(--green-bright);
  font-size: 24px;
  transition: transform 0.2s;
}

.back-button:hover {
  transform: translateX(-3px);
}

.back-arrow {
  display: inline-block;
}
