#fractal-tree {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  margin-bottom: 0;
  padding-bottom: 0;
  padding-top: 0;
  position: relative;
  z-index: 10;
  margin-top: 0;
}

#fractal-tree .p5Canvas {
  width: 500px !important;
  height: 350px !important;
  display: block !important;
  margin-bottom: 30px !important;
  position: relative;
  top: -100px;
}

@media only screen and (max-width: 600px) {
  #fractal-tree .p5Canvas {
    width: 350px !important;
    height: 250px !important;
    margin-bottom: 20px !important;
    top: -80px;
  }
}
