@tailwind base;
@tailwind components;
@tailwind utilities;

/* Base layer customizations */
@layer base {
  html {
    @apply antialiased;
  }

  body {
    @apply bg-white text-neutral-900 font-mono antialiased min-h-screen leading-relaxed;
  }

  a {
    @apply underline underline-offset-4 decoration-neutral-300 transition-colors duration-200 hover:text-neutral-900 text-neutral-500;
  }
}